body{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 60vw;
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
}

a {
    margin: 20px;
}
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }